td {
	border:1px solid #000000;
	padding:0.2em;
}

.preload {
	visibility: hidden;
	display: none;
	position: absolute;
	top: -99999px;
}

.icon {
	border:0;
	width:25px;
	height:25px;
}

.warning {
	color:#FF0000;
}

tr.header td {
	text-align:center;
	font-weight:bold;
	background-color:#AAAAFF;
}

tr.row-complete td {
	background-color:#DDFFDD;
}

tr.row-incomplete td {
	background-color:#FFDDDD;
}

tr.row-final td {
	border:0;
}

tr.row:hover td, tr.row-complete:hover td, tr.row-incomplete:hover td {
	background-color:#DDDDFF;
}

div.navigator h1 {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 50%;
	transform: translate(-50%, 0);
	font-style: normal;
	font-size: 100%;
	font-weight: normal;
}

div.navigator .first img, div.navigator .previous img, div.navigator .next img, div.navigator .last img, div.navigator .parent img, div.navigator .download img {
	max-width: 50px;
	height: auto;
}

div.navigator .links {
	text-align: center;
}

div.navigator .hidden * {
	visibility: hidden;
}

div.navigator .links a {
	display: inline-block;
	width: 13%;
	max-width: 100px;
	margin: 0;
	padding: 1% 0;
	text-align: center;
}

div.navigator .links a img {
	width: 100%;
}

div.navigator .links .download {
	position: absolute;
	right: 0;
}

div.navigator .content {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
}

div.navigator .content .previous, div.navigator .content .next {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 50%;
}

div.navigator .content .previous {
	left: 0;
}

div.navigator .content .next {
	right: 0;
}

div.navigator .content .previous img, div.navigator .content .next img {
	display: block;
	position: absolute;
	width: 10%;
	top: 50%;
	transform: translate(0, -50%);
}

div.navigator .content .previous img {
	left: 0;
}

div.navigator .content .next img {
	right: 0;
}

div.navigator .content .file {
	display: inline;
	position: relative;
	top: 0;
}
